body {
  font-family: "Cairo", sans-serif;
}

.logo img{
  width: 150px;
  height: 150px;
  margin-left: 30px;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 100px; */
}
.nav-items ul{
  display: flex;
  align-items: center;
  z-index: 1;
}
.nav-items li{
 margin-right: 50px;
}
.nav-items a{
  text-decoration: none;
  color: #961471;
  font-weight: bold;
}
.nav-items ul{
  list-style:  none;
}
.menu-icon{
  display: none;
  margin-right: 30px;
}
.nav ul li a::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #b3dbd9;
  width: 0;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  transition:0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.nav ul li a:hover::after {
  width: 100%;
}
.nav li a{
  position: relative;
}
.menu-btn{
  border: 1px solid black;
  padding: 12px;
  border-radius: 15px;
  width: fit-content;
  background-color: #fff;
  box-shadow: 1px 1px #961471;
  cursor: pointer;
}

  @media (max-width:768px) {
    .menu-icon{
      display: block;
    }
    .nav-items ul{
      display: none;
    }
  }
  @media (max-width: 768px) {
    .nav ul {
      display: inline-block;
      position: absolute;
      top: 150px;
      left: 0;
      background-color: #b3dbd9;
      width: 100%;
      overflow: hidden;
      opacity: 90%;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      color: #a33183;
    }

    .nav ul li {
      margin: 15px 0px 20px 30px;
      text-align: left;
      z-index: 1;
    }

    .nav ul li a {
      color: var(--primarycolor);
    }

    .menu-icon {
      display: block;
      cursor: pointer;
    }
    .content form {
      height: 100%;
      margin-top: 40px;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 5vh 10vh 5vh 10vh 5vh 20vh 10vh;
  }
}








.contanier {
  margin: 5vh;
}

    .content {
      box-sizing: border-box;
      top: 10vh;
      border: 4px solid rgb(91, 163, 160);
      
       padding: 4vh;
       border-radius: 30px;
       left: 1vh;
       position: relative;
       color: rgb(150, 20, 159);
       font-size: 6vh;
      margin-bottom: 20vh;
    }
    .lets-talk{
font-size: 9vh;
text-align: center;
    }

.content form label {

  display: block;
}


.content form {
  box-sizing:content-box;
  
  display: grid;
  grid-template-columns: 25vh 50vh;
  grid-template-rows: auto auto auto;
  gap: 4vh;
}
@media (min-width: 1200px) {
  .content form {
      grid-template-columns:  70vh 70vh;
       
  }
  
}
@media (max-width: 580px) {
  .content form {
      grid-template-columns: 27vh;
       
  }
  
}
@media (min-width: 992px) {
  .content form {
      grid-template-columns: 50vh 50vh;
       
  }
  .content form input {
      grid-column-start: 2;
  }
  
}
@media (min-width: 762px) {
  .content form {
      grid-template-columns: 50vh ;
       
  }
  
  
}

.content form input ,textarea {
  
  border-radius: 30%;
  border: none;
  background-color: rgba(253, 249, 244, 0.444);
  box-shadow: 2px 2px 2px 2px rgb(247, 170, 236) inset, -2px -2px 2px 2px rgba(253, 251, 251, 0.459) inset;}
  .content form button {
      border-radius: 30%;
      background-color: rgba(253, 249, 244, 0.444);
      box-shadow: -2px -2px 2px 2px rgb(93, 223, 249) inset, 2px 2px 2px 2px rgba(253, 251, 251, 0.459) inset;}




   /* FOOTER SECTION */
footer > ul > li > a {
  text-decoration: none;
  color: inherit;
}

footer > ul > li {
  list-style-type: none;
}

footer {
  display: flex;
  flex-flow: column wrap;
  font-weight: bold;
  font-size: 15pt;
  color: #807b7b;
  background-color: #d9d9d98d;
  padding: 3vh;
  border-top: 2px solid #afadad;
  box-shadow: -1px 4px 13px 2px rgba(175, 173, 173, 1);
  -webkit-box-shadow: -1px 4px 13px 2px rgba(175, 173, 173, 1);
  -moz-box-shadow: -1px 4px 13px 2px rgba(175, 173, 173, 1);
}
@media (min-width: 992px) {
  footer{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: auto;
    row-gap: 4vh;
    justify-items: center;
    justify-content: space-around;
  }}